/* You can add global styles to this file, and also import other style files */
body {
  // background: white;
  // font-family: arial;
  // color: black;
    margin:0;
    --color-sidebar:gray;

      font-family: 'Nunito', sans-serif;
      color: black;
    
}
